<style>
      @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
      @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
      @import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
      @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
      .hn {font-family: 'Hanna';}
      .nbs {font-family: 'Nanum Brush Script';}
      .ng {font-family: 'Nanum Gothic';}
      .ngc {font-family: 'Nanum Gothic Coding'; color:#333333;}
      .nm {font-family: 'Nanum Myeongjo';}
      .nps {font-family: 'Nanum Pen Script';}
      .jjg {font-family: 'Jeju Gothic';}
      .kp {font-family: 'KoPub Batang';}
      .nts {font-family: 'Noto Sans KR';}
      .right {text-align:right; margin-top: 5px;}
    </style>





<div class="container">
            <div class="row ngc">
<br>
<br>
<br>
                    <img src="../assets/skhu_logo_bee.png" alt="Skhubee logo" width="380px" height="380px">
<br>
<br>

                <div class="col-lg-12">
          <br>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/home/professor" class="btn btn-default btn-lg"><i class="fa fa-users fa-fw"></i> <span class="network-name">교수별 수업보기</span></a>
                            </li>
                            <li>
                                <a href="/home/major" class="btn btn-default btn-lg"><i class="fa fa-university fa-fw"></i> <span class="network-name">학과별 수업보기</span></a>
                            </li>
                            <li>
                                <a href="/postfs" class="btn btn-default btn-lg"><i class="fa fa-list fa-fw"></i> <span class="network-name">자유게시판</span></a>
                            </li>
                            <li>
                                <a href="/postus" class="btn btn-default btn-lg"><i class="fa fa-hand-paper-o fa-fw"></i> <span class="network-name">건의사항</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->


    <!-- Page Content -->
