<style>
      @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
      @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
      @import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
      @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
      .hn {font-family: 'Hanna';}
      .nbs {font-family: 'Nanum Brush Script';}
      .ng {font-family: 'Nanum Gothic';}
      .ngc {font-family: 'Nanum Gothic Coding'; color:#333333;}
      .nm {font-family: 'Nanum Myeongjo';}
      .nps {font-family: 'Nanum Pen Script';}
      .jjg {font-family: 'Jeju Gothic';}
      .kp {font-family: 'KoPub Batang';}
      .nts {font-family: 'Noto Sans KR';}
      .right {text-align:right; margin-top: 5px;}
      .test1 { color:yellow; background-color:#E5EDE2; padding:20px; border-radius: 10px; font-family: 'Nanum Gothic Coding'; color:#333333;}
      .test2 { color:yellow; background-color:#F1E6E4; padding:20px; border-radius: 10px; font-family: 'Nanum Gothic Coding'; color:#333333;}
    </style>

<br>
<br>


<div class="row ngc">
  <div class="col-md-2"></div>
  <div class="col-md-8">

<div class="test1">
    <div class="ngc">
      <p>전공과목</p>
      <% @maj.each do |m| %>
      <%if m.liberal == 0%>
      <a href = "/home/show_major/<%=m.id%>"><button type="button" class="btn btn-default btn-lg btn-block ngc" ><%= m.name %></button></a>
      <%end%><%end%>
    </div>
</div>
      <br>
  <div class="test2">
    <div>
      <% @maj.each do |m| %>
      <%if m.liberal == 1%>
      <a href = "/home/show_major/<%=m.id%>"><button type="button" class="btn btn-default btn-lg"><%= m.name %></button></a>
      <%end%><%end%>
    </div>    </div>

  </div>
  <div class="col-md-2"></div>
</div>
