<style>
.align {text-align: left;}
</style>


<div class="comments">
  <div class="comment_header">
    <h4><font color="black">Comments</font></h4>
  </div>
  <br>
  <div class="comments_list align">
    <%= render "commentus/list" %>
  </div>
  <div class='comments_form'>
    <%= render "commentus/form" %>
  </div>
</div>
