<br>


<div class="row ngc">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    

    <%= render :partial => 'form' %>

    <hr>

    <%= link_to 'Show', @postu, class: 'btn btn-default' %>
    <%= link_to 'Back', postus_path, class: 'btn btn-default' %>
  </div>
  <div class="col-md-1"></div>
</div>
