<style>
      @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
      @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
      @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
      @import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
      @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
      .hn {font-family: 'Hanna'; color: gray;}
      .nbs {font-family: 'Nanum Brush Script'; color: gray;}
      .ng {font-family: 'Nanum Gothic'; color: gray;}
      .ngc {font-family: 'Nanum Gothic Coding'; color: gray;}
      .nm {font-family: 'Nanum Myeongjo'; color: gray;}
      .nps {font-family: 'Nanum Pen Script'; color: gray;}
      .jjg {font-family: 'Jeju Gothic'; color: gray;}
      .kp {font-family: 'KoPub Batang'; color: gray;}
      .nts {font-family: 'Noto Sans KR'; color: gray;}
</style>


<div class="row ngc">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<br>

<h2 class="ngc">건의사항</h2>




<div class="row">
  <div class='col-md-12'>
    <p style='text-align:right;'>
      작성자 <%= current_user.username %>
    </p>
  </div>
</div>

<%= render :partial =>'form' %>

<hr>

<%= link_to 'Back', postus_path, class: 'btn btn-default' %>

  </div>
  <div class="col-md-1"></div>
</div>
