<div class="comments">
  <div class="comment_header">
    <h2>Comments:</h2>
  </div>
  <div class="comments_list">
    <%= render "commentfs/list" %>
  </div>
  <div class='comments_form'>
    <%= render "commentfs/form" %>
  </div>
</div>