<h2>Editing post</h2>

<%= render :partial => 'form' %>

<hr>

<%= link_to 'Show', [@post.lecture, @post], class: 'btn btn-default' %>
<%= link_to 'Back', lecture_posts_path, class: 'btn btn-default' %>