<style>
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
      .ngc {font-family: 'Nanum Gothic Coding'; color: black;}
      .titleline {border-left:0.5em solid #E0CB52; padding-left: 0.5em; font-size: 20px; text-align:left;}
</style>


<div class="row ngc">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<br>

<h3 class="ngc margin titleline"><%= @lecture.name %></h3>




<div class="row">
  <div class='col-md-12'>
    <p style='text-align:right;'>
      작성자 <%= current_user.username %>
    </p>
  </div>
</div>

<%= render :partial =>'form' %>

<hr>

<%= link_to 'Back', lecture_posts_path, class: 'btn btn-default' %>

  </div>
  <div class="col-md-2"></div>
</div>
