<h2>New post</h2>

<div class="row">
  <div class='col-md-12'>
    <p style='text-align:right;'>
      작성자 <%= current_user.email %>
    </p>
  </div>
</div>

<%= render :partial =>'form' %>

<hr>

<%= link_to 'Back', lecture_posts_path, class: 'btn btn-default' %>