$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;

@import 'commentfs';
@import 'commentus';
@import 'comments';
@import "font-awesome";
@import "posts";
@import "postfs";
@import "postus";

@import "bootstrap";
@import "landing-page";
@import "stars";

body { padding-top: 60px; }