$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;


@import 'comments';
@import "font-awesome";
@import "posts";
@import "bootstrap.min";

body { padding-top: 60px; }