



.post {
  border:1px solid gray;
  padding:1em;
  .title {
    border-bottom: 1px solid gray;
    margin-bottom: 1px;
  }
  .content {
    text-align: left;
    color: black;
  }
  .user {
    border-top: 1px solid #999999;
    margin-top: 1em;
    text-align: right;
    color: black;
  }
}

.majorline {
    display: inline-block;
}
