<p>안녕하세요 <%= @resource.email %>!</p>

<p>비밀번호를 바꾸려면 링크로 들어가 주세용.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>원하지 않으면 email을 무시하셔도 좋아용</p>
<p>링크로 들어가지 않으면 비밀번호가 바뀌지 않아용.</p>
