<p>안녕하세요 <%= @resource.email %>!</p>

<p>비밀번호 변경을 원하시면 링크를 클릭해주세요.</p>

<p><%= link_to '비밀번호 변경하기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>원하지 않으면 email을 무시하셔도 좋아요.</p>
<p>링크로 들어가지 않으면 비밀번호가 바뀌지 않아요.</p>
